.seccion-error-404 {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(
    100vh - 160px
  ); /* Ajusta según la altura de tu navbar y footer */
  padding-top: 40px;
  padding-bottom: 40px;
}

.contenedor-error-404 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 48px;
  max-width: 1200px;
  width: 100%;
  padding-left: 24px;
  padding-right: 24px;
}

.contenedor-gif {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imagen-error-404 {
  max-width: 500px;
  width: 100%;
  height: auto;
}

.contenedor-texto-404 {
  flex: 1;
  text-align: left;
  color: #fcfceb;
}

.titulo-error {
  font-size: 6rem;
  margin-top: 0;
  margin-bottom: 0.5rem;
  color: #f4bf2c;
}

.subtitulo-error {
  font-size: 2.5rem;
  margin-top: 0;
  margin-bottom: 1rem;
  color: #f4bf2c;
}

.mensaje-error-404 {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  color: #fcfceb;
}

.boton-volver {
  display: inline-block;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 24px;
  padding-right: 24px;
  background-color: #f4bf2c;
  color: #090d10;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  transition-duration: 0.3s;
}

.boton-volver:hover {
  background-color: #e0a900;
}
